body{
    background-color: lightslategray;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Layout{
    margin-top: 200px;
    font-size: 28px;
}
.Color{
    border: 2px solid black;
}
#result{
    margin-left: 120px;
    text-align: center;
}